@import url('https://fonts.googleapis.com/css?family=Syne%20Mono:700|Syne%20Mono:400');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
:root {
    --font-size: 1rem;
    --line-height: 1.54em;
    --radius: 5px;
    --border: 3px;
}
@media (prefers-color-scheme: light) {
    :root {
	--text: #16091b;
	--background: #ede4f6;
	--foreground: #54296b;
	--accent: #aa417c;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
	--background: #1d2021;
	--foreground: #ebdbb2;
	--accent: #aa5577;
	--text: #ebdbb2;
    }
}

body {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: 'Syne Mono';
    caret-color: var(--text);
    caret-shape : block;
    min-height: 100vh;
    transition:
	color 0.5s,
	background-color 0.5s;
    margin : auto;
    font-size: var(--font-size);
    line-height: var(--line-height);
    background-color: var(--background);
    color: var(--foreground);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    text-size-adjust: 100%;
}

main {
    margin: 0 48px 0 48px;
    text-align:justify;
    text-justify: inter-word;
}

footer {
    width: 100%;
    border-top: var(--border) solid var(--accent);
    padding: 8px 16px 8px 16px;
    text-align: center;
    align-self: center;
    justify-content: end;
    margin-top: auto;
}


h1 {
  font-size: calc(var(--font-size) * 1.45);
}

h2 {
  font-size: calc(var(--font-size) * 1.35);
}

h3 {
  font-size: calc(var(--font-size) * 1.15);
}

h4,
h5,
h6 {
  font-size: calc(var(--font-size) * 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
img,
figure,
video,
button,
input,
table {
    font-family: 'Syne Mono';
    font-weight: 700;
}

time { font-size: calc(var(--font-size) * 1.2);}

strong {
    color: var(--accent);
    font-weight: bold;
}

button {
    border : var(--border) dashed var(--accent);
    outline : none;
    color: var(--text);
    padding : 10px;
    border-radius : var(--radius);
    transition:
	color 0.5s,
	background 0.5s;
    background: transparent;
    cursor: pointer;
}

button:hover,
a:hover,
button:focus,
a:focus,
input:focus{
    background : var(--accent);
    outline : none;
    color: var(--background);
    transition:
	color 0.5s,
	background 0.5s;
}

a{
    color: var(--accent);
}

select{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    display: block;
    background-color: var(--foreground);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: var(--radius);
}

input {
    border: none;
    border-bottom: 2px dashed var(--foreground);
    color: var(--text);
    outline: none;
    box-shadow: none;
    background-color: transparent;
    caret: var(--accent) block;
}

/* Components */
.rounded-container{
    border-radius: var(--radius);
    border: var(--border) solid var(--accent);
    margin: 1rem;
    padding : 1rem;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.nav{
    height : fit-content;
}

@media(max-width:768px){
    .rounded-container{
	border-radius: 0px;
	border: none;
	box-shadow: none;
	border-bottom: var(--border) solid var(--accent);
    }

    h1{
	font-size:2rem
    }

    p{
	font-size:1rem
    }

    router-link{
	font-size:1rem;
	border-bottom: var(--border) solid var(--accent);
    }

    nav{
	background: var(--foreground);
	color:var(--accent);
	padding : 0;
	border-bottom: var(--border) solid var(--accent);
    }
}

.header-container {
    height: fit-content;
    width: fit-parent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-menu {
    display: flex;
    gap: 1.5rem;
}

.postTitle {
    display: flex;
    flex-align: row;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid var(--foreground);
}
